.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.videos {
  flex: 1;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  background-color: black;
}

.footer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: black;
  position: relative;
}

.loadingBar {
  position: absolute;
  left: 0;
  width: 100%;
}

.footer button {
  font-weight: 600;
  color: white;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

@supports not (height: 100dvh) {
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
