.loadingBar {
  width: 100%;
  height: 2px;
  background: #ddd;
  overflow: hidden;
}

.animating .loadingBarInner {
  animation: loading 2s linear infinite;
}

.loadingBarInner {
  width: 200%;
  height: 100%;
  background-color: #4cd964;
  background-image: linear-gradient(to right, #4cd964, #5ac8fa);
}

@keyframes loading {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
