@font-face {
  font-family: myFont;
  src: url("/fonts/Proxima\ Nova\ Font.otf");
}

html {
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: myFont;
  height: 100dvh;
}

#root {
  height: 100%;
}

@supports not (height: 100dvh) {
  body {
    height: 100vh;
  }
}
